{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>

<body>

	<div class="container">

	<!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <p class="navbar-brand" style=""> Tweet Map</p>
        {% csrf_token %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

		<h1> <br /><br /> </h1>

		<div class="row">
        	<div class="col-md-3">
            	<div class="form-group">

            <form action="/search" method="post" id="myform" name="myform">
                {% csrf_token %}

                <select class="form-control" id="dropdown-menu" name="dropdown-menu">

                    <option value="">Select Topic</option>
                    {% for topic in topics %}
                        <option value="{{topic}}">{{topic}}</option>
                    {% endfor %}

                </select>
            </form>

        </div>
    </div>

    </div>

    <!-- start map -->
		<div id="map" style="width:900px;height:400px;background:blue;">

		</div>
		<!-- end map -->

     	<!-- start modal -->
     	<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style = "background-color: #2a4d6b;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p id="modal-message"> Hii</p>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
		</div>
		<!-- end modal -->

	</div>
	<!-- end container -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <!-- Custom JS File - Application Logic -->
  <script src="{% static 'js/applogic.js' %}"></script>

  <!-- Google Map API call -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIWnwGb9WRladk_47LmMTH6cte9eC6Ob4&callback=myMap"></script>


</body>
</html>
